<a href="https://colab.research.google.com/github/DarkAngel285/GoogleCoLab/blob/main/%D0%97%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B5_22_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Группировка данных по нескольким признакам

In [ ]:
import pandas as pd

In [ ]:
#Монтируем гугл диск. Выйдет окно диалога - надо разрешить доступ
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/GooglePlayStore_wild.csv")

Метод groupby() при расчёте размера платных и бесплатных приложений.

In [ ]:
print(df.groupby(by = 'Type')['Size'].agg(['max', 'min']))

                     max   min
Type
Free  Varies with device  1.0M
Paid  Varies with device  1.0M

Параметр by для группировки по двум признакам принимает список имён столбцов.
В нашем случае это столбцы тип (Type) и целевая аудитория (Content Rating).

In [ ]:
print(df.groupby(by = ['Type','Content Rating'])['Size'].agg(['max', 'min']))

                                     max   min
Type Content Rating
Free Adults only 18+  Varies with device  4.9M
     Everyone         Varies with device  1.0M
     Everyone 10+     Varies with device  100M
     Mature 17+       Varies with device  1.4M
     Teen             Varies with device  1.2M
     Unrated                        6.4M  2.5M
Paid Everyone         Varies with device  1.0M
     Everyone 10+     Varies with device  1.8M
     Mature 17+       Varies with device  157k
     Teen             Varies with device  1.2M

In [ ]:
print(df.groupby(by = ['Content Rating','Type'])['Size'].agg(['max', 'min']))

                                     max   min
Content Rating  Type
Adults only 18+ Free  Varies with device  4.9M
Everyone        Free  Varies with device  1.0M
                Paid  Varies with device  1.0M
Everyone 10+    Free  Varies with device  100M
                Paid  Varies with device  1.8M
Mature 17+      Free  Varies with device  1.4M
                Paid  Varies with device  157k
Teen            Free  Varies with device  1.2M
                Paid  Varies with device  1.2M
Unrated         Free                6.4M  2.5M

In [ ]:
temp = df.groupby(by = ['Type', 'Content Rating'])['Size'].agg(['max', 'min'])
print(temp['min']['Free']['Teen'])

1.2M

Метод reset_index() позволяет перевести индексы в значения благодаря переиндексации строк в DataFrame.

In [ ]:
temp = df.groupby(by = ['Type', 'Content Rating'])['Size'].agg(['min', 'max'])
print(temp.reset_index())

   Type   Content Rating   min                 max
0  Free  Adults only 18+  4.9M  Varies with device
1  Free         Everyone  1.0M  Varies with device
2  Free     Everyone 10+  100M  Varies with device
3  Free       Mature 17+  1.4M  Varies with device
4  Free             Teen  1.2M  Varies with device
5  Free          Unrated  2.5M                6.4M
6  Paid         Everyone  1.0M  Varies with device
7  Paid     Everyone 10+  1.8M  Varies with device
8  Paid       Mature 17+  157k  Varies with device
9  Paid             Teen  1.2M  Varies with device

Сводная таблица —
это средство обобщения данных для последующего анализа.

Метод pivot_table() позволяет создавать сводные таблицы.
Параметры метод pivot_table():
*   columns — название столбца DataFrame, из которого будем брать заголовки столбцов сводной таблицы.
*   index — название столбца DataFrame, из которого будем брать заголовки строк (индексы) сводной таблицы,
*   values — название столбца DataFrame, из которого будем брать значения ячеек сводной таблицы,
*   aggfunc — название агрегирующей функции (функций).

In [ ]:
temp = df.pivot_table(columns = 'Type',
                  index = 'Content Rating',
                  values = 'Size',
                  aggfunc = 'min')
print(temp)

Type             Free  Paid
Content Rating
Adults only 18+  4.9M   NaN
Everyone         1.0M  1.0M
Everyone 10+     100M  1.8M
Mature 17+       1.4M  157k
Teen             1.2M  1.2M
Unrated          2.5M   NaN

In [ ]:
temp_1 = df.pivot_table(columns = 'Type',
                  index = 'Content Rating',
                  values = 'Size',
                  aggfunc = ['min', 'max'])
print(temp_1)

                  min                       max
Type             Free  Paid                Free                Paid
Content Rating
Adults only 18+  4.9M   NaN  Varies with device                 NaN
Everyone         1.0M  1.0M  Varies with device  Varies with device
Everyone 10+     100M  1.8M  Varies with device  Varies with device
Mature 17+       1.4M  157k  Varies with device  Varies with device
Teen             1.2M  1.2M  Varies with device  Varies with device
Unrated          2.5M   NaN                6.4M                 NaN

# ЗАДАНИЕ ДЛЯ РАБОТЫ НА ЗАНЯТИИ

Проанализируй количество скачиваний.
Выведи на экран минимальный, средний и максимальный рейтинг ('Rating') платных и бесплатных приложений ('Type') с точностью до десятых.
Используй группировку по одному столбцу.

In [ ]:
print(round(df.groupby(by = ['Type'])['Rating'].agg(['min', 'median', 'max']), 1))

      min  median  max
Type
Free  1.0     4.3  5.0
Paid  1.0     4.4  5.0

Проанализируй последние обновления приложений.
Выведи на экран минимальную, медианную (median) и максимальную цену ('Price') платных приложений (Type == 'Paid') для разных целевых аудиторий ('Content Rating'). Используй группировку по одному столбцу.

Проанализируй рейтинг приложений по целевой аудитории.
Сгруппируй данные по категории ('Category') и целевой аудитории ('Content Rating') любым удобным для тебя способом.
Посчитай максимальное количество отзывов ('Reviews') в каждой группе.
Сравни результаты для категорий 'EDUCATION', 'FAMILY' и 'GAME':
В какой возрастной группе больше всего отзывов получило приложение из категории 'EDUCATION'? 'FAMILY'? 'GAME'?
Используй сводную таблицу.

Проанализируй категории на разницу скачиваний между платными и бесплатными приложениями. Сгруппируй платные (Type == 'Paid') приложения по категории ('Category') и целевой аудитории ('Content Rating').
Посчитай среднее количество отзывов ('Reviews') в каждой группе.
Выбери названия категорий, в которых есть платные приложения для всех возрастных групп.
Используй сводную таблицу.

*Найди категории бесплатных (Type == 'Free') приложений, в которых приложения разработаны не для всех возрастных групп ('Content Rating').

## Инструменты очистки данных

In [105]:
df1 = pd.read_csv("/content/drive/MyDrive/GooglePlayStore_wild.csv")

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          9366 non-null   float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  object
 6   Installs        10840 non-null  object
 7   Type            10839 non-null  object
 8   Price           10840 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10832 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.2+ MB

Функция isnull() принимает скалярный объект или структуру данных и определяет наличие в переданной информации пустых значений.

In [ ]:
print(pd.isnull(df1))

       Unnamed: 0    App  Category  Rating  Reviews   Size  Installs   Type  \
0           False  False     False   False    False  False     False  False
1           False  False     False   False    False  False     False  False
2           False  False     False   False    False  False     False  False
3           False  False     False   False    False  False     False  False
4           False  False     False   False    False  False     False  False
...           ...    ...       ...     ...      ...    ...       ...    ...
10835       False  False     False   False    False  False     False  False
10836       False  False     False   False    False  False     False  False
10837       False  False     False    True    False  False     False  False
10838       False  False     False   False    False  False     False  False
10839       False  False     False   False    False  False     False  False

       Price  Content Rating  Genres  Last Updated  Current Ver  Android Ver
0      False           False   False         False        False        False
1      False           False   False         False        False        False
2      False           False   False         False        False        False
3      False           False   False         False        False        False
4      False           False   False         False        False        False
...      ...             ...     ...           ...          ...          ...
10835  False           False   False         False        False        False
10836  False           False   False         False        False        False
10837  False           False   False         False        False        False
10838  False           False   False         False        False        False
10839  False           False   False         False        False        False

[10840 rows x 14 columns]

In [ ]:
print(pd.isnull(df['Rating']).head())

0    False
1    False
2    False
3    False
4    False
Name: Rating, dtype: bool

In [ ]:
print(df1[pd.isnull(df1['Rating'])].head(2))

     Unnamed: 0                        App        Category  Rating  Reviews  \
23           23     Mcqueen Coloring pages  ART_AND_DESIGN     NaN       61
113         113  Wrinkles and rejuvenation          BEAUTY     NaN      182

     Size  Installs  Type Price Content Rating  \
23   7.0M  100,000+  Free     0       Everyone
113  5.7M  100,000+  Free     0   Everyone 10+

                              Genres        Last Updated Current Ver  \
23   Art & Design;Action & Adventure       March 7, 2018       1.0.0
113                           Beauty  September 20, 2017         8.0

    Android Ver
23   4.1 and up
113  3.0 and up

Метод fillna() используется для автоматизированной замены всех пустых значений в наборе данных на указанную константу.

In [ ]:
df1['Rating'].fillna(-1, inplace = True)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          10840 non-null  float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  object
 6   Installs        10840 non-null  object
 7   Type            10839 non-null  object
 8   Price           10840 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10832 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.2+ MB

Заменить NaN на значение, которое встречается в столбце чаще всего.

In [ ]:
df1['Rating'].value_counts()

-1.0    1474
 4.4    1109
 4.3    1076
 4.5    1038
 4.2     952
 4.6     823
 4.1     708
 4.0     568
 4.7     499
 3.9     386
 3.8     303
 5.0     274
 3.7     239
 4.8     234
 3.6     174
 3.5     163
 3.4     128
 3.3     102
 4.9      87
 3.0      83
 3.1      69
 3.2      64
 2.9      45
 2.8      42
 2.7      25
 2.6      25
 2.5      21
 2.3      20
 2.4      19
 1.0      16
 2.2      14
 1.9      13
 2.0      12
 1.7       8
 1.8       8
 2.1       8
 1.6       4
 1.4       3
 1.5       3
 1.2       1
Name: Rating, dtype: int64

In [ ]:
df1['Rating'].value_counts().index

Float64Index([-1.0,  4.4,  4.3,  4.5,  4.2,  4.6,  4.1,  4.0,  4.7,  3.9,  3.8,
               5.0,  3.7,  4.8,  3.6,  3.5,  3.4,  3.3,  4.9,  3.0,  3.1,  3.2,
               2.9,  2.8,  2.7,  2.6,  2.5,  2.3,  2.4,  1.0,  2.2,  1.9,  2.0,
               1.7,  1.8,  2.1,  1.6,  1.4,  1.5,  1.2],
             dtype='float64')

In [ ]:
df1['Rating'].value_counts().index[0]

-1.0

In [ ]:
r_max = df1['Rating'].value_counts().index[0]
df1['Rating'].fillna(r_max, inplace = True)

In [ ]:
print(df1['Rating'].unique())

[ 4.1  3.9  4.7  4.5  4.3  4.4  3.8  4.2  4.6  3.2  4.  -1.   4.8  4.9
  3.6  3.7  3.3  3.4  3.5  3.1  5.   2.6  3.   1.9  2.5  2.8  2.7  1.
  2.9  2.3  2.2  1.7  2.   1.8  2.4  1.6  2.1  1.4  1.5  1.2]

Метод dropna() удаляет из DataFrame все строки, содержащие хотя бы одно пустое значение.

In [ ]:
df1.dropna()

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10835,10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10836,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10837,10838,Parkinson Exercices FR,MEDICAL,-1.0,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10838,10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10839,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

Метод apply().

*   Метод apply() работает в разы быстрее цикла.
* Метод применяется к каждой строке/ столбцу DataFrame или к каждой ячейке отдельного столбца.
* В качестве параметра в метод передаётся имя функции, которая будет обрабатывать данные из DataFrame.

In [ ]:
df1['Reviews']= df1['Reviews'].apply(int)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10840 non-null  int64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Rating          10840 non-null  float64
 4   Reviews         10840 non-null  int64
 5   Size            10840 non-null  object
 6   Installs        10840 non-null  object
 7   Type            10839 non-null  object
 8   Price           10840 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10840 non-null  object
 11  Last Updated    10840 non-null  object
 12  Current Ver     10832 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.2+ MB

## ЗАДАНИЕ

Написать функцию, которая поможет сделать срез для каждого значения столбца Price

 Если первый символ строки '$', то:
* cделаем срез;
* преобразуем полученную строку в дробное число;
* вернём дробное число.
Иначе вернём ноль.

In [129]:
def make_price(Price):
    if type(Price) != str:
        return Price
    if Price[0] == '$':
        Price = Price[1:]
        return float(Price)
    return 0.0
df1['Price'] = df1['Price'].apply(make_price)
print(df1[df['Type'] == 'Paid']['Price'])

234       4.99
235       4.99
290       4.99
291       4.99
427       3.99
         ...
10734     0.99
10759     7.99
10781    16.99
10784     1.20
10797     1.04
Name: Price, Length: 800, dtype: float64

## ЗАДАНИЕ ДЛЯ РАБОТЫ НА ЗАНЯТИИ

Проанализируй категории датасета.
Узнай, какие столбцы нуждаются в очистке данных.

Проанализируй рейтинг приложений.
1. Сколько в датасете приложений, у которых не указан ('NaN') рейтинг ('Rating')?
2. Замени пустое значение ('NaN') рейтинга ('Rating') для таких приложений на -1.

Измени тип данных размеров приложений.
1. Определи, какое ещё значение размера ('Size') хранится в датасете помимо Килобайтов и Мегабайтов, замени его на -1.
2. Преобразуй размеры приложений ('Size') в числовой формат (float). Размер всех приложений должен измеряться в Мегабайтах (1 Мегабайт = 1024 Килобайт).
3. Чему равен максимальный размер ('Size') приложений из категории ('Category') 'TOOLS'?

In [128]:
def make_size(Size):
  if type(Size) != str:
    return Size
  if Size[-1] == 'M':
    return float(Size[:-1]) * 1024
  elif Size[-1] == 'K':
    return float(Size[:-1])
  return -1
df['Size'] = df['Size'].apply(make_size)
print(df[df['Category'] == 'TOOLS']['Size'].max())

101376.0


1. Замени тип данных на целочисленный (int) для количества установок ('Installs'). В записи количества установок ('Installs') знак «+» необходимо игнорировать. Т. е. если в датасете количество установок равно 1,000,000+, то необходимо изменить значение на 1000000.
2. Сгруппируй данные по типу ('Type') и целевой аудитории ('Content Rating') любым удобным для тебя способом, посчитай среднее количество установок ('Installs') в каждой группе. Результат округли до десятых.
В полученной таблице найди ячейку с самым большим значением.
К какой возрастной группе и типу приложений относятся данные из этой ячейки?

In [130]:
def make_installs(installs):
    if type(installs) != str:
        return installs
    installs = installs.replace(',', '')
    if installs[-1] == '+':
        installs = installs[:-1]
    return int(installs)

df['Installs'] = df['Installs'].apply(make_installs)
print(df['Installs'])

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10835        5000
10836         100
10837        1000
10838        1000
10839    10000000
Name: Installs, Length: 10840, dtype: int64


У какого приложения не указан тип ('Type')? Какой тип там необходимо записать в зависимости от цены?

*В значениях приложения с индексом 10472 допущена ошибка. Какая? Исправь её.

## Feature engineering

Вычислим, сколько долларов разработчики заработали на каждом платном приложении.

План по созданию нового столбца.
* Написать функцию, которая преобразует жанры строки в список.
* Применить функцию для преобразования типа к столбцу при помощи метода apply().
* Создать новый столбец, в котором будет храниться количество жанров при помощи метода apply() и встроенной функции len().