<a href="https://colab.research.google.com/github/DarkAngel285/GoogleCoLab/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B1%D1%80%D0%B8%D0%BB%D0%BB%D0%B8%D0%B0%D0%BD%D1%82%D1%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Информация о датасете:
* price - price in US dollars (\$326--\$18,823)

* carat - weight of the diamond (0.2--5.01)

* cut - quality of the cut (Fair, Good, Very Good, Premium, Ideal)

* color - diamond colour, from J (worst) to D (best)

* clarity - a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

* x - length in mm (0--10.74)

* y - width in mm (0--58.9)

* z - depth in mm (0--31.8)

* depth - total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)

* table - width of top of diamond relative to widest point (43--95)

In [ ]:
import pandas as pd

In [ ]:
#Монтируем гугл диск. Выйдет окно диалога - надо разрешить доступ
from google.colab import drive
drive.mount ('/content/diamonds.csv')

Mounted at /content/diamonds.csv

1. Напишите программу Pandas для чтения CSV-файла из указанного источника и печати первых 5 строк.

In [ ]:
df =  pd.read_csv('/content/diamonds.csv/MyDrive/Смена/diamonds.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

Убедитесь, что файл считался правильно. Определите, являются ли данные очищенными.

2. Напишите программу, которая будет выводить не весь датафрейм, а только следующие столбцы: 'carat', 'cut', 'x', 'y', 'z'.

In [ ]:
user = [ 'carat', 'cut', 'x', 'y', 'z']
print(df[user].head(10))

   carat        cut     x     y     z
0   0.23      Ideal  3.95  3.98  2.43
1   0.21    Premium  3.89  3.84  2.31
2   0.23       Good  4.05  4.07  2.31
3   0.29    Premium  4.20  4.23  2.63
4   0.31       Good  4.34  4.35  2.75
5   0.24  Very Good  3.94  3.96  2.48
6   0.24  Very Good  3.95  3.98  2.47
7   0.26  Very Good  4.07  4.11  2.53
8   0.22       Fair  3.87  3.78  2.49
9   0.23  Very Good  4.00  4.05  2.39

3. Напишите программу, которая будет выводить значения только из столбца 'carat'.

In [ ]:
df['carat']

0.21

4. Напишите программу, которая создаст новый столбец ''Quality–color', содержащий значения через запятую из столбца 'cut' и 'color' (например: Ideal, E).

In [ ]:
df['Quality–color'] = df['cut'] + ',' + df['color']
print(df.head())

   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z Quality–color
0  2.43       Ideal,E
1  2.31     Premium,E
2  2.31        Good,E
3  2.63     Premium,I
4  2.75        Good,J

5. Напишите программу, чтобы найти количество строк и столбцов и тип данных для каждого столбца.

In [ ]:
df.shape

(53940, 12)

In [ ]:
df.dtypes

Unnamed: 0         int64
carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
Quality–color     object
dtype: object

7. Переименуйте столбец 'color' в 'diamond_color', 'clarity' в 'diamond_clarity'.

In [ ]:
df.rename(columns = {'color':'diamond_color'}, inplace = True)
df.rename(columns = {'clarity':'diamond_clarity'}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       53940 non-null  int64
 1   carat            53940 non-null  float64
 2   cut              53940 non-null  object
 3   diamond_color    53940 non-null  object
 4   diamond_clarity  53940 non-null  object
 5   depth            53940 non-null  float64
 6   table            53940 non-null  float64
 7   price            53940 non-null  int64
 8   x                53940 non-null  float64
 9   y                53940 non-null  float64
 10  z                53940 non-null  float64
 11  Quality–color    53940 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 4.9+ MB

8. Напишите программу, чтобы переименовать все столбцы .

In [ ]:
diamond_col =['0','1','2','3','4','5','6','7','8','9','10', '11']
df.columns = diamond_col

ValueError: ignored

9. Напишите программу Pandas для удаления второго столбца.

In [ ]:
df.drop('2', axis = 1, inplace = True)

10. Напишите программу Pandas для одновременного удаления нескольких столбцов из блока данных.

In [ ]:
df.drop(['1', '10'], axis = 1, inplace = True)

In [ ]:
print(df)

           0  3     4     5     6     7     8     9           11
0          1  E   SI2  61.5  55.0   326  3.95  3.98      Ideal,E
3          4  I   VS2  62.4  58.0   334  4.20  4.23    Premium,I
4          5  J   SI2  63.3  58.0   335  4.34  4.35       Good,J
5          6  J  VVS2  62.8  57.0   336  3.94  3.96  Very Good,J
6          7  I  VVS1  62.3  57.0   336  3.95  3.98  Very Good,I
...      ... ..   ...   ...   ...   ...   ...   ...          ...
53935  53936  D   SI1  60.8  57.0  2757  5.75  5.76      Ideal,D
53936  53937  D   SI1  63.1  55.0  2757  5.69  5.75       Good,D
53937  53938  D   SI1  62.8  60.0  2757  5.66  5.68  Very Good,D
53938  53939  H   SI2  61.0  58.0  2757  6.15  6.12    Premium,H
53939  53940  D   SI2  62.2  55.0  2757  5.83  5.87      Ideal,D

[53938 rows x 9 columns]

11. Напишите программу Pandas для одновременного удаления нескольких строк (ось = 0 относится к строкам) из датафрейма.

In [ ]:
df.drop([1,2], axis = 0, inplace = True)

12. Напишите программу Pandas для сортировки столбца 'cut' в порядке возрастания.

In [ ]:
res = df['5'].sort_value(ascending = True)

AttributeError: ignored

13. Напишите программу Pandas для сортировки столбца 'price' в порядке убывания.

15. Напишите программу Pandas, чтобы отфильтровать строки датафрейма так, чтобы вес в каратах ('carat') составлял не менее 0,3.

17. Напишите программу Pandas, чтобы найти бриллианты с длиной > 5, шириной > 5 и глубиной > 5.

18. Напишите программу Pandas, чтобы найти бриллианты премиум-класса или идеальные.

20. Вывести названия столбцов.

22. Напишите программу Pandas для перебора бриллиантов в DataFrame.

24. Напишите программу Pandas, которая будет включать только числовые столбцы в DataFrame с бриллиантами.

25. Напишите программу Pandas для передачи списка типов данных, чтобы описывать только определенные типы бриллиантов DataFrame.

26. Напишите программу Pandas для расчета среднего значения каждого числового столбца бриллиантов в DataFrame.

28. Напишите программу Pandas для расчета среднего значения цены для каждого 'cut'.

29. Напишите программу Pandas для расчета количества, минимальной, максимальной цены на каждого бриллианта ('cut').

30. Напишите программу Pandas для создания линейного графика.

31. Напишите программу Pandas, чтобы подсчитать, сколько раз встречается каждое значение в 'cut'.

32. Напишите программу Pandas для отображения уникальных значений в 'cut'.